* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #dbeafe, #f8fafc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a8a;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease;
}

.question {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.options .option {
    padding: 14px 18px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options .option:hover {
  /* background: #ffffff; */
    transform: translateX(5px);
}

.correct {
    background: #2dd869;
    border-color: #10a948;
    color: #033c19;
}

.wrong {
    background: #da4141;
    border-color: #d01414;
    color: #310202;
}

#next {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#next:hover {
    background: #1d4ed8;
}

.result {
    text-align: center;
    background: white;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: scaleIn 0.6s ease;
}

.result img {
    width: 150px;
    margin-bottom: 20px;
}

.result h2 {
    color: #16a34a;
    margin-bottom: 10px;
}

.result p {
    font-size: 18px;
    margin-bottom: 20px;
}

.home-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
